.flashcard-container{
    min-width: 60%;
    min-height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 10px 0;
    border: 3px solid #A67B5B;

    h2{
        font-size: 2.2em;
        
    }

    div{
        min-width: 350px;
        max-width: 600px;
        width: 70%;
        min-height: 130px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        font-size: 17px;
        padding: 0 20px;
        margin-bottom: 15px;
    }

    button{
        width: 110px;
        height: 30px;
        border-radius: 5px;
        border: none;
        background-color: #A67B5B;

        &:hover{
            box-shadow: 2px 3px 5px #C4A000;
            margin: 0;
        }
    }
}