.input-container{
    min-width: 350px;
    width: 40%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    input{
        width: 70%;
        height: 80%;
        padding-left: 10px;
         border-radius: 5px;
         border: 2px solid #A67B5B;
    }

    button{
        height: 80%;
        padding: 0 10px;
        border-radius: 5px;
        border: none;
        background-color: #A67B5B;

        &:hover{
            box-shadow: 2px 3px 5px #C4A000;
            margin: 0;
        }
    }
}